section {
    padding-top: 30px;
    height: 80px;
    position: relative;
    z-index: 1;
    background-color:#79618B;
    color: #F2F0FC;
    text-align: center;
    a{
        color: #B1AFB8;
    }
 }